<div class="row d-flex justify-content-center">
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item">
          <a>{{ article?.categories[0]?.name }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ article?.title }}
        </li>
      </ol>
    </nav>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <h1 class="primary-text">
      {{ article?.title }}
    </h1>
    <small class="text-muted">
      Publicado em: {{ dateHelper.castDate(article?.published) }}
    </small>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-xs-12 col-sm-12 col-lg-6">
    <img
      [src]="article?.featured_media['2048x2048']"
      class="img-fluid"
      alt=""
    />
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div
    class="col-xs-12 col-sm-12 col-lg-6"
    [innerHTML]="getSanitizedContent()"
  ></div>
</div>
