<div class="row d-flex justify-content-start">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item">
          <a>{{ article?.categories ? article?.categories[0]?.name : "--" }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <strong class="primary-text">{{ article?.title }}</strong>
        </li>
      </ol>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-lg-8">
    <div class="row">
      <div class="col-12">
        <h1 class="primary-text">
          {{ article?.title }}
        </h1>
        <small class="text-muted">
          Publicado em: {{ dateHelper.castDate(article?.published) }}
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <img
          [src]="
            article?.featured_media
              ? article?.featured_media['2048x2048']
              : 'assets/not_found.jpg'
          "
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-12" [innerHTML]="getSanitizedContent()"></div>
    </div>

    <div class="row d-flex justify-content-center mb-5">
      <div class="col-12">
        <accordion [isAnimated]="true">
          <accordion-group heading="Biografia">
            <div [innerHTML]="article?.bibliography"></div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-lg-4">
    <div class="row rounded-pill shadow bg-grey p-1 mt-5">
      <div class="col-3 d-flex author-picture">
        <img
          [src]="
            article?.author ? article?.author?.picture : 'assets/not_found.jpg'
          "
          alt="author pic"
          class="img-thumbnail rounded-circle my-auto"
        />
      </div>
      <div class="col-9 d-flex justify-content-start align-items-center">
        <span>
          Criado por: <strong>{{ article?.author?.name }}</strong>
        </span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <span
          *ngFor="let tag of article?.tags"
          class="badge rounded-pill bg-primary mx-1"
        >
          {{ tag?.name }}
        </span>
      </div>
    </div>
  </div>
</div>
