@import "variables.scss";
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "./app/shared/styles/pagination.scss";

body {
  background-color: $background-color !important;
  * {
    color: white !important;
    transition: 0.3s ease-in-out;
  }
}

.breadcrumb {
  background-color: $background-color !important;
}
.card {
  background-color: $card-color !important;
}

.bg-grey {
  background-color: $grey !important;
}

.primary-text {
  color: $primary-color !important;
}

.bg-primary {
  background-color: $primary-color !important;
}

.btn-second {
  background-color: $blue !important;
}

.grey-text {
  color: $grey;
}

.modal {
  * {
    background-color: transparent;
  }
}
