<div class="row mt-3">
  <div class="col-12">
    <div class="input-group rounded">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Buscar"
        aria-label="Buscar"
        aria-describedby="search-addon"
        [formControl]="searchKey"
      />
      <span
        class="input-group-text border-0"
        id="search-addon"
        (click)="search()"
      >
        <i class="fas fa-search"></i>
      </span>
    </div>
  </div>
</div>

<div class="row mt-1" *ngIf="searchResponse?.size > 0">
  <small class="text-muted">
    {{ searchResponse?.size }} resultados encontrados, exibindo 10.
  </small>
</div>

<div class="row mt-1">
  <div class="col-12 d-flex justify-content-end align-items-center">
    <span *ngIf="!isFiltered">Filtrar por mais relevantes </span>
    <span *ngIf="isFiltered">Filtrado por relavância </span>
    <button
      class="btn btn-second ml-3"
      [disabled]="isFiltered"
      (click)="orderByRelevance()"
      aria-label="Filter results"
    >
      <i class="fas fa-filter"></i>
    </button>
  </div>
</div>
<pagination
  *ngIf="searchResponse?.pages > 0"
  class="pagination mt-1"
  [totalItems]="searchResponse?.size"
  (pageChanged)="changePage($event)"
  [maxSize]="maxSize"
  [(ngModel)]="currentPage"
>
</pagination>

<div class="row mt-3">
  <div
    class="col-12 d-flex justify-content-xl-center w-100"
    *ngIf="searchResponse?.size == 0 || !searchResponse?.data"
  >
    <h1>Não existem artigos relacionados ao termo pesquisado</h1>
  </div>
  <div
    class="col-xs-12 col-sm-12 col-lg-4 col-xl-4 col-xxl-4"
    *ngFor="let article of searchResponse?.data"
  >
    <app-article-card [article]="article" class="mb-3"></app-article-card>
  </div>
</div>
